<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Angular architecture and design patterns</h1>
    <p class="lead">This application was developed with Angular 7,
      Bootstrap and JsonPlaceHolder for fictitious api data.
    </p>
    <hr class="my-4">
    <ul>
      <li>Utilizing http services to consume RestApi's for sharing data to multiple components</li>
      <li>Dynamic data driven application</li>
      <li>Bootstrap utilized for the UI of this application</li>
    </ul>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>

